<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.crayfis.shramp">

    <uses-permission android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <uses-feature android:name="android.hardware.edu.crayfis.shramp.camera2.capability.manual_sensor"
        android:required="true" />
    <uses-feature android:name="android.hardware.edu.crayfis.shramp.camera2.capability.raw"
        android:required="true" />
    <uses-feature android:name="android.hardware.edu.crayfis.shramp.camera2.level_3"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MaineShRAMP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>